/* google font link :  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-mont{
    font-family: "Merriweather", serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

.container{
    width: 1320px;
    margin: 0 auto;
}

.common-banner{
    color: #ffffff;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    
}

.common-banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0 ,0 , 0.5);
}

.main-banner{
    background-image: url("./images/banner-top.png");
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.main-banner-text{
    z-index: 1;
}

.main-banner-text h3 {
    font-size:28px;
    font-weight:400;
    margin-bottom: 20px;
}

.main-banner-text h1{
    font-size: 70px;
    font-weight: 700;
}

.offer-section{
    margin: 80px 0;
    text-align: center;
}

.offer-section h2{
    font-size: 88px;
    font-weight: 800;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 40px;
}

.offer-section h4{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    font-family: "Inter", sans-serif;
    margin-bottom: 25px;
}

.offer-section h3{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    font-family: "Inter", sans-serif;
    margin-bottom: 55px;
}

.main-banner-middle{
    background-image: url("./images/middle-photo.png");
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-banner-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.middle-banner-para{
    color: #ffffff;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin: 30px 0;
    line-height: 1.5;
}

.middle-button{
    background:none;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-left: 30px;
}

/* Address section css start  */

.address-section{
    background: linear-gradient(#ffe7e7,#fff9f9 );
    padding: 75px 0;
    border-radius: 20px;
    text-align: center;
    margin: 50px 0px;
}

.address-section-text h3{
    font-size: 32px ;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #070211;
    margin: 15px 0;
}

.address-short{
    color: #FF0000;
    font-family: "Inter", sans-serif;
}

.address-section-text button{
    background: #FF0000;
    color: #ffffff;
    padding: 18px 45px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    border: 0;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 20px;
}
/* address section css end here  */

/* Coming soon css start here  */

.coming-soon-para{
    color: #7c7a82;
}

.coming-soon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;

}

.coming-soon-single{
    max-width: 31%;
    padding: 20px;
}

.coming-soon-single h4{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.coming-soon-single h2 , .coming-soon-single h3{
    font-size: 48px;
    font-weight: 800;
    color: #070211;
    margin-top: 20px;
}

.coming-soon-single h3{
    color: #FF0000;
}

.celebration-image{
    max-width: 100%;
    border: #FF0000 solid 10px;
    padding: 20px;
    border-radius: 200px;
}

.new-year-2{
    width: 150px;
    height: 150px;
}

/* Coming soon css end here  */

/* Discount section start here  */

.discount-text{
    text-align: center;
}

.discount-text h3{
    font-size: 22px;
    font-weight: 600;
    color: #070211;
    margin-bottom: 22px;
}

.discount-text h1{
    font-size: 72px;
    font-weight: 800;
    color: #070211;
}

.discount-text h1 span{
    color: #FF0000;
}

.disc-woman{
    text-align: right;
    margin-bottom: -5px;
}


.disc-woman .disc-percentage {
    position: absolute;
    z-index: 1;
    right: 30%;
    margin-top: 85px;
}

.discount-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disc-gift-image {
    width: 675px;
    height: 577px;
    margin-bottom: -260px;
    z-index: 2;
    margin-left: 60px;
}
/* Discount section end here  */

/* portfolio section css start here  */

.portfolio-text{
    max-width: 100%;
    margin-top: 70px;
    margin-bottom: 30px;
}

.portfolio-photo-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-single-box{
    width: 32%;
    margin-bottom: 40px;
}

.portfolio-single-box img{
    width: 100%;
}

/* portfolio section css end here  */

/* Newsletter box start here  */

.news-letter-box{
    padding: 100px 0;
    margin: 80px 0;
    text-align: center;
    background: #FFF2F2;
    border-radius: 15px;
}

.news-letter-box h2{
    font-size: 48px;
    font-weight: 800;
    margin: 20px 0;
}

.news-subscribe{
    display: flex;
    width: 50%;
    margin: 0 auto;
   
}

.news-subscribe input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 30px 0 0 30px;
}

.news-subscribe input::placeholder{
    font-family: "Inter", sans-serif;
}

.news-subscribe button{
    padding: 20px 40px;
    border: none;
    background: #FF0000;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    border-radius: 0 30px 30px 0;
}

/* Newsletter box end here  */

/* Footer box css start here  */

.footer-box{
    background: #070211;
    color: #fff;
    font-family: "Inter", sans-serif;
    padding: 90px 10px;
}

.footer-box-main{
    display: flex;
    border-bottom: solid #ffffff 1px;
    padding: 20px 0;
}

.social-link{
    padding: 50px 0;
    border-top: solid #ffffff 1px;
    border-bottom: solid #ffffff 1px;
    text-align: center;

}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.social-link ul li{
    list-style: none;
   display: inline-block;
   margin: 0 25px;
}

.footer-icon a{
    color: #ffffff;
    text-decoration: none;
}

.social-link ul li a img{
    width: 50px;
    height: 50px;
}

.copy-text p{
    font-size: 20px;
    font-weight: 400;
}

.footer-text-left h3, .footer-icon a{
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-icon a i{
    margin-right: 10px;
}

/* Footer box css end here  */